body {
  color: white;
  background-color: #1e1e1e;
}

.d1 {
padding: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: lightblue;
  padding: 5px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  font-size: 25px;
  height: 50px;
  border-radius: 10px;
}