/* Basis-Styling für den Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #181715;
  color: #ddd5c4;
}

.main-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

hr {
  border: 5px;
  border-radius: 10px;
  border-color: #9c885e;
}

@media (max-width: 600px) {
  .main-container,
  .article-list {
    max-width: 100%;
    padding: 0 1rem;
  }
}