
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #181715;
  color: #ddd5c4;
}

.main-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

hr { /*Linie*/
  border: 0;
  height: 2px;
  background-color: #8e7e5b;
}

strong { /*Fett geschrieben*/
  color: #8e7e5b;
}

em { /*kursiv geschrieben*/
  color: #8e7e5b;
}
