body{
  height: 100%;
  font-family: "Roboto", serif;
  font-weight: 700;
  /*outline: red dashed 1px;*/
  background-color: #080808;
  color: white;
  margin-top: 10px;
  margin: auto;
  width: 50%;
  padding: 10px;
  transition: background 5s;
}

.standartDiv{
}

p{
  opacity: 0.5;
  transition: 0.3s;
}

p:hover{
  opacity: 1;
}

.github{
  width: 50px;
  transition: 0.3s;
}

.github:hover{
  width: 70px;
}

h1{
  /*outline: red dashed 1px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-image{
  border-radius: 100px;
  transition: 0.5s;
}

#profile-image:hover{
  border-radius: 15px;
}

.img{
  border-radius: 20px;
}

.mail{
  opacity: 0.5;
  color:white;
  text-decoration: none;
  position: relative;
}

.mail:hover{
  opacity: 1;
}


.mail::before {
  position: relative;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.mail:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
